web/content/includes/dbopen.php
web/content/includes/settings.php

web/content/uploads/*
web/content/assets/*

php_errors.log

.idea

.metadata

*.orig

_Nope

Companies/*

web/content/templates/settings.php
web/dompdf/lib/php-font-lib/LICENSE
web/dompdf/lib/php-font-lib/README.md
web/dompdf/lib/php-font-lib/bower.json
web/dompdf/lib/php-font-lib/composer.json
web/dompdf/lib/php-font-lib/index.php
web/dompdf/lib/php-font-lib/maps/adobe-standard-encoding.map
web/dompdf/lib/php-font-lib/maps/cp1250.map
web/dompdf/lib/php-font-lib/maps/cp1251.map
web/dompdf/lib/php-font-lib/maps/cp1252.map
web/dompdf/lib/php-font-lib/maps/cp1253.map
web/dompdf/lib/php-font-lib/maps/cp1254.map
web/dompdf/lib/php-font-lib/maps/cp1255.map
web/dompdf/lib/php-font-lib/maps/cp1257.map
web/dompdf/lib/php-font-lib/maps/cp1258.map
web/dompdf/lib/php-font-lib/maps/cp874.map
web/dompdf/lib/php-font-lib/maps/iso-8859-1.map
web/dompdf/lib/php-font-lib/maps/iso-8859-11.map
web/dompdf/lib/php-font-lib/maps/iso-8859-15.map
web/dompdf/lib/php-font-lib/maps/iso-8859-16.map
web/dompdf/lib/php-font-lib/maps/iso-8859-2.map
web/dompdf/lib/php-font-lib/maps/iso-8859-4.map
web/dompdf/lib/php-font-lib/maps/iso-8859-5.map
web/dompdf/lib/php-font-lib/maps/iso-8859-7.map
web/dompdf/lib/php-font-lib/maps/iso-8859-9.map
web/dompdf/lib/php-font-lib/maps/koi8-r.map
web/dompdf/lib/php-font-lib/maps/koi8-u.map
web/dompdf/lib/php-font-lib/src/FontLib/AdobeFontMetrics.php
web/dompdf/lib/php-font-lib/src/FontLib/Autoloader.php
web/dompdf/lib/php-font-lib/src/FontLib/BinaryStream.php
web/dompdf/lib/php-font-lib/src/FontLib/EOT/File.php
web/dompdf/lib/php-font-lib/src/FontLib/EOT/Header.php
web/dompdf/lib/php-font-lib/src/FontLib/EncodingMap.php
web/dompdf/lib/php-font-lib/src/FontLib/Font.php
web/dompdf/lib/php-font-lib/src/FontLib/Glyph/Outline.php
web/dompdf/lib/php-font-lib/src/FontLib/Glyph/OutlineComponent.php
web/dompdf/lib/php-font-lib/src/FontLib/Glyph/OutlineComposite.php
web/dompdf/lib/php-font-lib/src/FontLib/Glyph/OutlineSimple.php
web/dompdf/lib/php-font-lib/src/FontLib/Header.php
web/dompdf/lib/php-font-lib/src/FontLib/OpenType/File.php
web/dompdf/lib/php-font-lib/src/FontLib/OpenType/TableDirectoryEntry.php
web/dompdf/lib/php-font-lib/src/FontLib/Table/DirectoryEntry.php
web/dompdf/lib/php-font-lib/src/FontLib/Table/Table.php
web/dompdf/lib/php-font-lib/src/FontLib/Table/Type/cmap.php
web/dompdf/lib/php-font-lib/src/FontLib/Table/Type/glyf.php
web/dompdf/lib/php-font-lib/src/FontLib/Table/Type/head.php
web/dompdf/lib/php-font-lib/src/FontLib/Table/Type/hhea.php
web/dompdf/lib/php-font-lib/src/FontLib/Table/Type/hmtx.php
web/dompdf/lib/php-font-lib/src/FontLib/Table/Type/kern.php
web/dompdf/lib/php-font-lib/src/FontLib/Table/Type/loca.php
web/dompdf/lib/php-font-lib/src/FontLib/Table/Type/maxp.php
web/dompdf/lib/php-font-lib/src/FontLib/Table/Type/name.php
web/dompdf/lib/php-font-lib/src/FontLib/Table/Type/nameRecord.php
web/dompdf/lib/php-font-lib/src/FontLib/Table/Type/os2.php
web/dompdf/lib/php-font-lib/src/FontLib/Table/Type/post.php
web/dompdf/lib/php-font-lib/src/FontLib/TrueType/Collection.php
web/dompdf/lib/php-font-lib/src/FontLib/TrueType/File.php
web/dompdf/lib/php-font-lib/src/FontLib/TrueType/Header.php
web/dompdf/lib/php-font-lib/src/FontLib/TrueType/TableDirectoryEntry.php
web/dompdf/lib/php-font-lib/src/FontLib/WOFF/File.php
web/dompdf/lib/php-font-lib/src/FontLib/WOFF/Header.php
web/dompdf/lib/php-font-lib/src/FontLib/WOFF/TableDirectoryEntry.php
web/dompdf/lib/php-svg-lib/README.md
web/dompdf/lib/php-svg-lib/composer.json
web/dompdf/lib/php-svg-lib/phpunit.xml
web/dompdf/lib/php-svg-lib/src/Svg/DefaultStyle.php
web/dompdf/lib/php-svg-lib/src/Svg/Document.php
web/dompdf/lib/php-svg-lib/src/Svg/Style.php
web/dompdf/lib/php-svg-lib/src/Svg/Surface/CPdf.php
web/dompdf/lib/php-svg-lib/src/Svg/Surface/SurfaceCpdf.php
web/dompdf/lib/php-svg-lib/src/Svg/Surface/SurfaceGmagick.php
web/dompdf/lib/php-svg-lib/src/Svg/Surface/SurfaceInterface.php
web/dompdf/lib/php-svg-lib/src/Svg/Surface/SurfacePDFLib.php
web/dompdf/lib/php-svg-lib/src/Svg/Tag/AbstractTag.php
web/dompdf/lib/php-svg-lib/src/Svg/Tag/Anchor.php
web/dompdf/lib/php-svg-lib/src/Svg/Tag/Circle.php
web/dompdf/lib/php-svg-lib/src/Svg/Tag/Ellipse.php
web/dompdf/lib/php-svg-lib/src/Svg/Tag/Group.php
web/dompdf/lib/php-svg-lib/src/Svg/Tag/Image.php
web/dompdf/lib/php-svg-lib/src/Svg/Tag/Line.php
web/dompdf/lib/php-svg-lib/src/Svg/Tag/LinearGradient.php
web/dompdf/lib/php-svg-lib/src/Svg/Tag/Path.php
web/dompdf/lib/php-svg-lib/src/Svg/Tag/Polygon.php
web/dompdf/lib/php-svg-lib/src/Svg/Tag/Polyline.php
web/dompdf/lib/php-svg-lib/src/Svg/Tag/RadialGradient.php
web/dompdf/lib/php-svg-lib/src/Svg/Tag/Rect.php
web/dompdf/lib/php-svg-lib/src/Svg/Tag/Shape.php
web/dompdf/lib/php-svg-lib/src/Svg/Tag/Stop.php
web/dompdf/lib/php-svg-lib/src/Svg/Tag/Text.php
web/dompdf/lib/php-svg-lib/src/autoload.php
web/dompdf/lib/php-svg-lib/tests/Svg/StyleTest.php
