	body {
		background-color: #232323;
		}
	.callout {
		border:none;
		background-color: rgba(0, 3, 3, 0.5);
		background: rgba(0, 3, 3, 0.5);
		color: rgba(0, 3, 3, 0.5);
		padding: 1rem;
		}
	.loginTitle {
		color:#999999 !important;
 		 margin-bottom: 1rem !important;
		 margin-top:.7rem;
		}
	.hidden{
		display: none;
	}
	.page-content-text {
		color:#999999;
		}
	.page-content-text small {
		color:#999999;
		}
  .success-text {
    color:#ffffff;
    }
	.errorMsg {
		color: #0069b4;
    	font-size: .8rem;
    	height: .8rem;
    	margin: .8rem 0;
		}
  .home-login {
     color: #999999;
     font-size: .7rem;
  }
	.is-invalid-input:not(:focus) {
     background-color: rgba(236, 88, 64, 0.5); 
    border-color: #ec5840;
	}		
