h3{
    z-index: 1;
}

div.saveErrorMessage {
    position: fixed;
    bottom: 0;
    z-index: 101;
    right: 0;
    margin-right: 8px;
    padding: 5px;
    height: 75px;
    background-color: white;
    border-top: #2089ca 2px solid;
    border-left: #2089ca 2px solid;
    border-right: #2089ca 2px solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: none;
}

div.loadingImage,
div.finalizingImage{
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #eee;
    opacity: 0.5;
    text-align: center;
}
div.finalizingImage {
    display: none;
}
div.loadingImage > img,
div.finalizingImage > img {
    position: absolute;
    top: 40%;
}

div.errorMessage {
    text-align: center;
}
div.errorMessage > .message {
    padding-bottom: 16px;
}

div.validationMessage {
}
div.validationMessage > .message{
    font-weight: bold;
    text-align: center;
}
div.validationMessage > .message,
div.validationMessage > .questionList {
    padding-bottom: 16px;
    overflow-y: auto;
}
div.validationMessage .okButton {
    text-align: center;
}

.invalid-data,
.invalid-required{
    background-color: #FFCCCC;
}

.QuestionText{
    font-weight: bold;
    margin: 0;
    font-size: 0.875rem;
    line-height: 1.8;
    color: #0a0a0a;
}

.QuestionText.required::after{
    content: "required";
    font-size: 80%;
    line-height: inherit;
    padding-left: 0.4rem;
    padding-right: 0.2rem;
}

.formMessage{
    color: red;
    margin: 0;
    font-size: 0.875rem;
    line-height: 1.8;
    color: #0a0a0a;
}

input.Money::before {
    content: "$";
    font-size: 1rem;
    margin: .4rem 0;
}

.PhotoBucket {
    z-index: 2;
}

iframe.dropzone{
    display: block;
    min-height: 71px;
}

td.disabledSelect.DisabledInput input,
td.disabledSelectSecond.DisabledInput input,
td.disabledSelect.DisabledInput select,
td.disabledSelectSecond.DisabledInput select{
    display: none;
}


div#preview > a.closeImage{
    font-size: 2em;
    position: absolute;
    top: 0;
    right: 25px;
}

div#preview > a.previousImage,
div#preview > a.nextImage{
    font-size: 6em;
    position: absolute;
    top: 50%;
}

div#preview > a.previousImage {
    left: 25px;
}
div#preview > a.nextImage {
    right: 25px;
}

.custom-combobox {
    position: relative;
    display: inline-block;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: bold;
    color: #58595b;
    font-size: 1rem;
    background: white;
}

.custom-combobox a {
    border: 0;
    background: white;
}

.custom-combobox {
    width: 100%;
}

.custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: bold;
    color: #58595b;
    font-size: 1rem;
    background: white !important;
    width: 87%;
}

.ui-autocomplete.ui-front.ui-menu.ui-widget.ui-widget-content.ui-corner-all {
    z-index:1050;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: bold;
    color: #58595b;
    font-size: 1rem;
}

.ui-autocomplete {
    max-height: 175px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
    }
    /* IE 6 doesn't support max-height
    * we use height instead, but this forces the menu to always be this tall
    */
    * html .ui-autocomplete {
        height: 175px;
}

.comboboxWrapper {
    padding-right: 0;
}

.custom-combobox-input.ui-widget.ui-widget-content.ui-state-default.ui-corner-left.ui-autocomplete-input {
    border-radius: 5px;
    height: 2.4375rem;
    padding: 0.5rem;
    border: 1px solid #cacaca;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
    color: #0a0a0a;
    background-color: #fefefe;
    font-size: 1rem;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: normal;
}

.custom-combobox .ui-button-icon-only .ui-button-text {
    padding:0;
}
.ui-menu-item-wrapper {
    padding-top: 2px;
    padding-left: 2px;
}
.ui-menu-item-wrapper ui-state-active {
    border-radius: 5px;
}

.notesTabPanel {
    position: fixed;
    bottom: -4.5rem;
    right: 2rem;
    z-index: 20;
}

.notesTab {
    border-radius: 5px 5px 0px 0px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    line-height: 1;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 0.6em 1.5em;
    margin: 0 0 0 1.2rem;
    font-size: 0.9rem;
    background-color: #2089ca;
    color: #fefefe;
    font-weight: bold;
}

.notesTab:focus {
    outline:none;
}

.notesTabText {
    background-color: #2089ca;
    height:7.5rem;
    width:30rem;
    padding: 1rem;
    
}