<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <title>Foundation Accelerator</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <link rel="stylesheet" href="css/change-password.css" />
	<link rel="stylesheet" href="css/custom.css" />
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
	<script src="js/jquery.js"></script>
   <script>

           $(document).ready(function () {

                $('#userPassword').focusin(function(){
                    $('#passwordInfo').show();

                });

                $('#userPassword').focusout(function(){
                    $('#passwordInfo').toggle();

                });

            });

    </script>
  </head>
  <body>
    <div class="row">
    	<div class="small-4 columns">&nbsp;</div>
      	<div class="small-4 columns">
      		<div class="callout" style="margin-top: 20%;">
            	<img src="images/FoundationAcceleratorLogo.png" />
              <form id="myForm" data-abide novalidate action="change-password.php" method="post">
                  <div class="small-12 columns">
                      <p class="success-text">
                        <small>
                          You are logged in with a temporary password. Please change your password below to continue.
                        </small>
                          <span class="errorMsg">
                            <?php echo $formMessage; ?> 
                            <?php echo $errors; ?>
                          </span>
                      </p>
                    </div>
              		<div class="row">
                   	<div class="small-12 columns">
             				<label>
                      <span class="page-content-text">New Password <small>required</small></span>
                    			<input id="userPassword" name="userPassword" type="password" required  />
                				<small class="form-error">Password is required.</small>
                			</label>

                        <span style="margin-top:-2rem; color:#ffffff;" class="hidden" id="passwordInfo">
                            <p ><strong><small>Please note: </strong>Password must contain:
                                <ul style="list-style:none; margin-top:-.8rem;"></small>
                                    <li> <small>At least one UPPER CASE letter,</small></li>
                                    <li> <small>At least one lower case letter,</small></li>
                                    <li> <small>At least one number and </small> </li>
                                    <li> <small>And be least 8 characters long.</small></li>
                                </ul>
                            </p>
                        </span>

                  	</div>
                  </div>
                  <div class="row">
                    <div class="small-12 columns">
                    <label><span class="page-content-text">Confirm New Password <small>required</small></span>
                          <input name="userPasswordConfirm" type="password" required  />
                        <small class="form-error">Password is required.</small>
                      </label>
                    </div>
                  </div>
                  <div class="row">
                   	<div class="small-12 columns">
                  		<input class="button expanded" type="submit" name="submit" value="Change Password"  />
                      </div>
                  </div>
              </form>   

			</div> 
		</div>
       <div class="small-4 columns">&nbsp;

       </div>
	</div>
    <script src="js/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
