<span class="row expanded footer">
	<div class="medium-6 columns">
      		<button style="color:#ffffff; padding:1rem;" id="help" type="button" name="help"><img style="height:60%; margin-top:-.2rem;" src="/images/icons/help_sm.png"> Feedback &amp; Support</button>
	</div>
	<div class="medium-6 columns">
		<p style="color:#ffffff; margin-bottom: 0;margin-top: .75rem;" class="text-right">
			<small>
				© <?php echo date("Y"); ?> Foundation Accelerator &bull;
				<a target="_blank" href="legal-privacy.php">Legal &amp; Privacy</a>
			</small>
		</p>
	</div>
</span>