<div id="setupModal" class="reveal small" data-reveal>
  <button class="close-button" aria-label="Close alert" type="button" data-close>
    <span aria-hidden="true">&times;</span>
  </button>
    <h2 id="modalTitle" style="text-align:center;margin-bottom:0rem;">Setup Progress</h2>
    <div class="row align-center" style="margin-bottom: 1rem;">
        <small>Check items when they are complete. <span data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" tabindex="1" title="Check the gray checkmark button to mark as complete once these items are complete in the company profile."><img src="images/icons/info.png" /></span></small>
    </div>
    <div class="row">
        <div class="medium-12 columns">
            <div class="progress" role="progressbar" tabindex="0" aria-valuenow="" aria-valuemin="0" aria-valuetext="" aria-valuemax="100">
                <span class="progress-meter" style="">
                    <p class="progress-meter-text"></p>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="medium-1 columns">
        </div>
        <div class="medium-10 columns">
            <div class="row">
                <div class="medium-12 columns" style="text-align:center; margin-bottom: 1.5rem;">
                    <a href="https://www.youtube.com/playlist?list=PL76zqskm8OPb5d0bh4n23CC2DBQoqCnzL" target= "_blank" >Watch our how-to videos.</a>
                </div>
                <div class="medium-9 columns">
                    <h5>General Information Complete</h5> 
                </div>
                <div class="medium-3 columns">
                    <img class="setupProgressCheckmark" id="setupGeneral" src="">
                </div>
                <div class="medium-12 columns">
                    <hr class="setupProgressDivider">
                </div>
            </div>
             <div class="row">
                <div class="medium-9 columns">
                    <h5>User Setup Complete</h5> 
                </div>
                <div class="medium-3 columns">
                    <img class="setupProgressCheckmark" style="cursor:pointer" id="setupUsers" src="">
                </div>
                <div class="medium-12 columns">
                    <hr class="setupProgressDivider">
                </div>
            </div>
            <div class="row">
                <div class="medium-9 columns">
                    <h5>Services Setup Complete</h5>
                </div>
                <div class="medium-3 columns">
                    <img class="setupProgressCheckmark" style="cursor:pointer" id="setupServices" src="">
                </div>
                <div class="medium-12 columns">
                    <hr class="setupProgressDivider">
                </div>
            </div>
            <div class="row">
                <div class="medium-9 columns">
                    <h5>Pricing Setup Complete</h5>
                </div>
                <div class="medium-3 columns">
                    <img class="setupProgressCheckmark" style="cursor:pointer" id="setupPricing" src="">
                </div>
                <div class="medium-12 columns">
                    <hr class="setupProgressDivider">
                </div>
            </div>
            <div class="row">
                <div class="medium-9 columns">
                    <h5>Contract Setup Complete</h5>
                </div>
                <div class="medium-3 columns">
                    <img class="setupProgressCheckmark" style="cursor:pointer" id="setupContract" src="">
                </div>
                <div class="medium-12 columns">
                    <hr class="setupProgressDivider">
                </div>
            </div>
            <div class="row">
                <div class="medium-9 columns">
                    <h5>Emails Setup Complete</h5>
                </div>
                <div class="medium-3 columns">
                    <img class="setupProgressCheckmark" style="cursor:pointer" id="setupEmails" src="">
                </div>
                <div class="medium-12 columns">
                    <hr class="setupProgressDivider">
                </div>
            </div>
            <div class="row">
                <div class="medium-9 columns">
                    <h5>Final Packet Setup Complete</h5>
                </div>
                <div class="medium-3 columns">
                    <img class="setupProgressCheckmark" style="cursor:pointer" id="setupWarranties" src="">
                </div>
                <div class="medium-12 columns">
                    <hr class="setupProgressDivider">
                </div>
            </div>
            <div class="row">
                <div class="medium-9 columns">
                    <h5>Disclaimers Setup Complete</h5>
                </div>
                <div class="medium-3 columns">
                    <img class="setupProgressCheckmark" style="cursor:pointer" id="setupDisclaimers" src="">
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: .5rem;display:none;">
        <div class="medium-12 columns">
            <small><a id="setupComplete">Stop Showing this Message</a></small>
        </div>
    </div>
<!--     <p class="text-center no-margin">
        <button class="button" data-close>Close</button>
    </p> -->
</div>
