<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <title>Foundation Accelerator</title>
    <link rel="stylesheet" href="css/foundation.css" />
	<link rel="stylesheet" href="css/custom.css" />
    <link rel="stylesheet" href="css/signup.css" />
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
	<script src="js/jquery.js"></script>
    <script>
        $(document).ready(function () {
            $('input[name="referralCode"]').change(getReferralName);

            $('#submitSignup').click(submitSignup);

            $('input[required]').change(function(){
                if ($(this).val() == ''){
                    $(this).parent().addClass('is-invalid-label');
                    $(this).addClass('is-invalid-input');
                    $(this).parent().find('.form-error').addClass('is-visible');
                } else {
                    $(this).parent().removeClass('is-invalid-label');
                    $(this).removeClass('is-invalid-input');
                    $(this).parent().find('.form-error').removeClass('is-visible');
                }
            }); 

            $('input[name="referralCode"]').change(function(){
                //console.log('Is Changed');
                $('input[name="referralCode"]').parent().removeClass('is-invalid-label');
                $('input[name="referralCode"]').removeClass('is-invalid-input');
                $('input[name="referralCode"]').parent().find('.form-error').removeClass('is-visible');

                if ($(this).val() == ''){
                    $('input[name="referralName"]').val('');
                    $('input[name="referralName"]').prop('disabled', false);
                }
            });

        });

        var getReferralName = function() {
            var referralCode = $('input[name="referralCode"]').val();

            if (referralCode != '') {
                $('#loading-image').show();

                $.ajax({
                    url: 'getReferralName.php',
                    dataType: "json",
                    contentType: 'application/json',
                    type: "GET",
                    contentType: "application/x-www-form-urlencoded",
                    data: {
                        referralCode: referralCode
                    },
                    success: function (response) {
                        $('#loading-image').hide();
                        //console.log(response);

                        if (response != null) {
                            $('input[name="referralName"]').val(response.referralName);
                            $('input[name="referralName"]').prop('disabled', true);

                            $('input[name="referralCode"]').parent().removeClass('is-invalid-label');
                            $('input[name="referralCode"]').removeClass('is-invalid-input');
                            $('input[name="referralCode"]').parent().find('.form-error').removeClass('is-visible');
                        } else {
                            $('input[name="referralName"]').val('');
                            $('input[name="referralName"]').prop('disabled', false);

                            $('input[name="referralCode"]').parent().addClass('is-invalid-label');
                            $('input[name="referralCode"]').addClass('is-invalid-input');
                            $('input[name="referralCode"]').parent().find('.form-error').addClass('is-visible');
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log(textStatus, errorThrown);
                        console.log(jqXHR.responseText);
                    }
                });
            }
        };

        var submitSignup = function() {
            $('input[required]').each(function () {

                if ($(this).val() == '') {
                    $(this).parent().addClass('is-invalid-label');
                    $(this).addClass('is-invalid-input');
                    $(this).parent().find('.form-error').addClass('is-visible');
                } else {
                    $(this).parent().removeClass('is-invalid-label');
                    $(this).removeClass('is-invalid-input');
                    $(this).parent().find('.form-error').removeClass('is-visible');
                }

            });

            if ($(".is-visible")[0] || $(".is-invalid-label")[0]){
                console.log('Do Not Run Form');
            } else {
                $('#loading-image').show();
                //console.log('Run Form');
                var userFirstName = $('input[name="userFirstName"]').val();
                var userLastName = $('input[name="userLastName"]').val();
                var companyName = $('input[name="companyName"]').val();
                var userEmail = $('input[name="userEmail"]').val();
                var referralCode = $('input[name="referralCode"]').val();
                var referralName = $('input[name="referralName"]').val();

                $.ajax({
                    url: 'signup-add.php',
                    dataType: "json",
                    contentType: 'application/json',
                    type: "POST",
                    contentType: "application/x-www-form-urlencoded",
                    data: {
                        userFirstName: userFirstName, 
                        userLastName: userLastName,
                        companyName: companyName, 
                        userEmail: userEmail,
                        referralCode: referralCode,
                        referralName: referralName
                    },
                    success: function (response) {
                        $('#loading-image').hide();
                        //console.log(response);
                        if (response == 'true') {
                            window.location.href = "signup-success.php";
                        } else {
                            $('.errorMsg').text(response);
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log(textStatus, errorThrown);
                        console.log(jqXHR.responseText);
                    }
                });
            }
        };
    </script>
  </head>
  <body>
    <div id="loading-image" class="loadingImage">
        <img src="images/ajax-loader.gif" />
    </div>
    <div class="row">
    	<div class="small-3 columns">&nbsp;</div>
      	<div class="small-6 columns">
      		<div class="callout" style="margin-top: 20%;">
                <div class="row align-center">
                    <div class="small-8 columns">
                        <img src="images/FoundationAcceleratorLogo.png" />
                    </div>
                </div>
                 <!-- <p class="home-instruction">
                    Submit this form to receive a link to register. 
                </p> -->
                <div class="errorMsg"><?php echo $formMessage; ?></div>
                <form>
              		<div class="row">
                        <div class="small-6 columns">
                            <label><span class="page-content-text">First Name <small>required</small></span>
                                <input name="userFirstName" type="text" value="<?php echo $userFirstName; ?>" required  />
                                <small class="form-error">First name is required.</small>
                            </label>
                        </div>
                        <div class="small-6 columns">
                            <label><span class="page-content-text">Last Name <small>required</small></span>
                                <input name="userLastName" type="text" value="<?php echo $userLastName; ?>" required  />
                                <small class="form-error">Last name is required.</small>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-12 columns">
                            <label><span class="page-content-text">Company Name <small>required</small></span>
                                <input name="companyName" type="text" value="<?php echo $companyName; ?>" required  />
                                <small class="form-error">Company is required.</small>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                   	    <div class="small-12 columns">
             				<label><span class="page-content-text">Email <small>required</small></span>
                    			<input name="userEmail" type="email" value="<?php echo $userEmail; ?>" required  />
                				<small class="form-error">Valid email is required.</small>
                			</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-12 columns">
                            <label><span class="page-content-text">Do you have a referral code?</span>
                                <input name="referralCode" type="text" value="<?php echo $referralCode; ?>" />
                                <small class="form-error">This is not a valid referral code.</small>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-12 columns">
                            <label><span class="page-content-text">Were you referred by a friend? Enter their name and company below.</span>
                                <input name="referralName" type="text" value="<?php echo $referralName; ?>" />
                            </label>
                        </div>
                    </div>
                    <div class="row align-center" style="margin-top: 1rem;">
                   	    <div class="small-6 columns">
                  		    <a id="submitSignup" class="button expanded">Submit</a>
                        </div>
                        <div class="small-6 columns">
                            <a href="login.php" class="button expanded black">Back</a>
                        </div>
                    </div>
                </div>
            </form>    
			</div> 
		</div>
       <div class="small-3 columns">&nbsp;</div>
	</div>
    <script src="js/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
